* {
  /* border: 1px solid black; */
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0 20px;
  height: 100%;
  width: 100%;
  /* background: #f6f7f4; */
  background: beige;
  font-family: Helvetica, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}
